/* css reset */
*{
    margin:0px;
    padding:0px;
    font-family: 'Segoe UI';
    transition:all;
    transition-duration: .5s;
   

}


/* Section:contact */
#contact{
   
    font-size: 2.2rem;
    align-items: center;   
    position: relative;
}



/* section:products background using before pseudo selector*/
#contact::before{
    content: "";
    background: url('/productimg/background\ \(3\).jpg')no-repeat center center /cover;
    height: 100%;
    width: 90%;
    position:absolute;
    z-index: -1;
    opacity:0.6 ;

}



/* navbar:logo im   */
#logo img{
    height:100px;
    position: relative;
    animation-name: navbar-logo-anime;
    animation-duration: .1s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;

}
#logo img:hover{
    background-color: turquoise;
}
   
    
/* animation effect on navbar logo */
@keyframes navbar-logo-anime{
    from{
        right: 0px;
        top: 0px;
    }
    to{
        right: 0px;
        top: 1px;
    }

}




/*navbar */
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 1.2rem;
    background-color: rgba(51, 48, 48, 0.664);
    position: relative;
    
    

}
#navbar ul{
    display: flex;
    margin-left: 30px;
} 
#navbar ul li{
    list-style: none;
    margin:40px;
} 
#navbar ul li a{
    
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI';
    font-weight: bolder;
    font-size: 1.4rem;
    padding: 5px;
    
    
  
} 

#navbar ul li a:hover{
    
    background-color:tomato;
    border-radius: 15px;
    
    
  
} 

#products h1{
    padding-top: 50px;
    text-decoration: underline ;
}
