/* css reset */
*{
    margin:0px;
    padding:0px;
    font-family: 'Segoe UI';
    transition:all;
    transition-duration: .5s;

}

/* Section:home */
#home{
   
    font-size: 2rem;
    align-items: center;   
    position: relative;
}
/* section:home background using before pseudo selector*/
#home::before{
    content: "";
    background: url('background\ \(2\).jpg')no-repeat center center /cover;
    height: 90%;
    width: 100%;
    position:absolute;
    z-index: -2;
    opacity:0.7 ;

}
/* navbar:logo im   */
#logo img{
    height:100px;
    position: relative;
    animation-name: navbar-logo-anime;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;

}

   
    
/* animation effect on navbar logo */
@keyframes navbar-logo-anime{
    from{
        right: 0px;
        top: 0px;
    }
    to{
        right: 0px;
        top: 1px;
    }

}




/*navbar */
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 1.2rem;
    background-color: rgba(51, 48, 48, 0.664);
    
    

}
#navbar ul{
    display: flex;
    margin-left: 30px;
} 
#navbar ul li{
    list-style: none;
    margin:40px;
} 
#navbar ul li a{
    
    text-decoration: none;
    color: red;
    font-family: 'Segoe UI';
    font-weight: bolder;
    font-size: 1.4rem;
    padding: 5px;
    
    
  
} 
#navbar ul li a:hover{
    
    background-color:tomato;
    border-radius: 15px;
    
    
  
} 
/* home:home-content */
.home-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* border: blue solid 3px; */
    padding: 100px;
}
  .home-content h2{ 
      padding: 30px;
    
} 
/* home-content:buttton */
.btn{
    margin-top: 30px;
    padding: 5px;
    border-radius: 10px;
    border: solid black 3px;
    font-weight: bolder;
    cursor: pointer;



}
.btn:hover{
    background-color: tomato;
}
/* -----------------------------Home css over------------------------------ */
/* sectio services */
#services{
    /* border: solid black 3px; */
    position: relative;
    

    
}
#services h1{
    text-align: center;
    padding-bottom: 35px;
    padding-top: 10px;
  
    

}
.services-container{
    /* border:tomato solid 2px; */
    display:flex;
    justify-content: space-evenly;

}
.container-box{
    height:300px;
    width: 300px;
    border: solid 3px ;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.container-box img{
    height: 100px;
    
    
}
/* ---------------------services end here------------------------------ */


/* ---------------------client section-------------------- */

#client{
    /* border: solid black 3px; */
    
    position: relative;
    text-align: center;
    
}
#client h1{
    padding-top: 30px;
}
#client::before{
    content: "";
    background: url('/background\ \(1\).jpg')no-repeat center center /cover;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    z-index: -1;
    opacity:0.3 ;
    
}
.client-container{
    display: flex;
   
    justify-content: space-evenly;
    align-items: center;

}
#client .box{
    
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#client .box img{
    height: 200px;
}
/* ----------------------------client section ends here ----------------------------------*/




/* -------------------------------footer
---------------------------------- */
footer{
    background-color: rgb(248, 161, 145);
    font-weight: bold;
    color: rgb(37, 8, 2);
    text-align: center;
    
}



/* -----------------------------------utility class-------------------------------- */
/* utility class */
.primary{
    font-size: 2rem;
}
.secondary{
    font-size: 1.4rem;
    font-weight: bold;
}
.para{
    font-size: 1rem;
    font-weight: bold;
}
.pcolor{
    color: black;
}
.tcenter{
    text-align: center;
}
