/* css reset */
*{
    margin:0px;
    padding:0px;
    font-family: 'Segoe UI';
    transition:all;
    transition-duration: .5s;
   

}
/* Section:home */
#products{
   
    font-size: 1.2rem;
    align-items: center;   
    position: relative;
}



/* section:products background using before pseudo selector*/
#products::before{
    content: "";
    background: url('/productimg/background\ \(3\).jpg')no-repeat center center /cover;
    height: 100%;
    width: 100%;
    position:absolute;
    z-index: -1;
    opacity:0.6 ;

}



/* navbar:logo im   */
#logo img{
    height:100px;
    position: relative;
    animation-name: navbar-logo-anime;
    animation-duration: .1s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;

}
#logo img:hover{
    background-color: turquoise;
}
   
    
/* animation effect on navbar logo */
@keyframes navbar-logo-anime{
    from{
        right: 0px;
        top: 0px;
    }
    to{
        right: 0px;
        top: 1px;
    }

}




/*navbar */
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 1.2rem;
    background-color: rgba(51, 48, 48, 0.664);
    position: relative;
    
    

}
#navbar ul{
    display: flex;
    margin-left: 30px;
} 
#navbar ul li{
    list-style: none;
    margin:40px;
} 
#navbar ul li a{
    
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI';
    font-weight: bolder;
    font-size: 1.4rem;
    padding: 5px;
    
    
  
} 

#navbar ul li a:hover{
    
    background-color:tomato;
    border-radius: 15px;
    
    
  
} 

#products h1{
    padding-top: 50px;
    text-decoration: underline ;
}



/* -------------product section:  .pcontainer
part----------- */
.pcontainer{
    /* border: solid black 3px; */
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.product-box{
    /* border: solid 3px red; */
    height:350px;
    width:350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.product-box img{
    height: 200px;
}
/* home-content:buttton */
.btn{
    margin-top: 30px;
    padding: 5px;
    border-radius: 10px;
    border: solid black 3px;
    font-weight: bolder;
    cursor: pointer;
    position: relative;
    text-align: center;
    



}
.btn a{
    text-decoration: none;
}
.btn:hover{
    background-color: tomato;
}
/* btn over */
/* ---------------------Why section starts from here-------- */
#why{
    /* border: solid 1px blue; */
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 20px;
    background-color: rgb(248, 227, 223);

   
    

}
#why h2{
    text-decoration: underline ;
}

/* adding background */
/* 
#why ::before{
    content: "";
    background: url('/background\ \(5\).jpg')no-repeat center center /cover;
  
    position: absolute;
    height:100% ;
    width:100% ;
    left: 0px;
    top:0px;
    z-index: -1;
    opacity: 0.3;
}
 */




/* Why-->container */
.wcontainer{
    /* border: 3px solid red; */
    display: flex;
    align-items: center;
    /* justify-content:space-between; */
    position: relative;
    /* padding: 100px; */
}

/* Why-->container-->box */
.wbox{
    
    
    /* border: solid 2px greenyellow; */
    height:400px;
    width: 50%;
    text-align: center;
    position: relative;
    overflow: auto;
   
}
/* Why-->container-->box-->box1 */
#wbox-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#wbox-1 img{
    height: 150px;
    
}


/* Why-->container-->box-->box2 */
#wbox-2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
}
#wbox-2 img{
    height: 145px;
    padding: 3px 20px;
    
}
/* ----------------------why section closes here */
/* ---------------------vegetable section starts from here-------------- */
#vegetables{
    /* border: solid 3px red; */
    position: relative;
   
    
    
}
#vegetables h2{
    padding-top:30px ;
    text-decoration:underline;

}
.vegcontainer{
    /* border: 4px solid yellow; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.vegbox{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 25%;
    margin:15px;
    
}
.vegbox img{
    height: 100px;
}
.vegbox img:hover{
    transform: scale(1.5);
    
}

/* fruit section starts frim here */
/* ---------------------vegetable section starts from here-------------- */
#fruits{
    /* border: solid 3px red; */
    position: relative;
   
    
    
}
#fruits h2{
    padding-top:30px ;
    text-decoration:underline;

}
.fruitcontainer{
    /* border: 4px solid yellow; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.fruitbox{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 25%;
    margin:15px;
    
}
.fruitbox img{
    height: 100px;
    
    
}
.fruitbox img:hover{
    transform: scale(1.5);
    
}




/* -------------------------------footer
---------------------------------- */
footer{
    background-color: rgb(248, 161, 145);
    font-weight: bold;
    color: rgb(37, 8, 2);
    text-align: center;
    
}









/* utility class */
.primary{
    font-size: 2rem;
}
.secondary{
    font-size: 1.4rem;
    font-weight: bold;
}
.para{
    font-size: 1rem;
    font-weight: bold;
}
.pcolor{
    color: black;
}
.tcenter{
    text-align: center;
}